
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.8) url('../../public/empresa-familiar.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Great Vibes', cursive;
  color: #000000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}